// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple Mac mini (M1, 2020)
 *
 * target-type: J274
 *
 * Copyright The Asahi Linux Contributors
 */

/dts-v1/;

#include <dt-bindings/leds/common.h>

#include "t8103.dtsi"

/ {
	compatible = "apple,j274", "apple,t8103", "apple,arm-platform";
	model = "Apple Mac mini (M1, 2020)";

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
	};


	soc {
		i2c0@20a110000 {
			hpm0@38 {
			 	connector {
				 	data-role = "host";
				};
			};
			hpm1@3f {
			 	connector {
				 	data-role = "host";
				};
			};
		};

		usb0@382280000 {
			dwc3@382280000 {
				dr_mode = "host";
			};
		};

		usb1@502280000 {
			dwc3@502280000 {
				dr_mode = "host";
			};
		};
	};

	fiq: interrupt-controller {
	     	use-for-ipi;
	};

	memory@800000000 {
		device_type = "memory";
		reg = <0x8 0 0x2 0>; /* To be filled by loader */
	};
};
