// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple MacBook Pro (13-inch, M1, 2020)
 *
 * target-type: J293
 *
 * Copyright The Asahi Linux Contributors
 */

/dts-v1/;

#include <dt-bindings/leds/common.h>

#include "t8103.dtsi"

/ {
	compatible = "apple,j293", "apple,t8103", "apple,arm-platform";
	model = "Apple MacBook Pro (13-inch, M1, 2020)";

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
	};

	soc {
		spi@23510c000 {
			keyboard@0 {
				compatible = "input,applespi-kbd-v1";
				reg = <0>;
				spi-max-frequency = <2000000>;
				spien-gpios = <&pinctrl_ap 195 0>;
				irq-gpios = <&nub_gpio 13 0>;
				interrupt-parent = <&nub_gpio>;
				interrupts = <13 8>;
			};
		};

		i2c0@20a110000 {
			hpm0@38 {
			 	connector {
				 	data-role = "dual-role";
				};
			};
			hpm1@3f {
			 	connector {
				 	data-role = "dual-role";
				};
			};
		};

		usb0@382280000 {
			dwc3@382280000 {
				dr_mode = "dual-role";
			};
		};

		usb1@502280000 {
			dwc3@502280000 {
				dr_mode = "dual-role";
			};
		};
	};
};
